/* Import fonte */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    box-sizing: border-box;
}

body { 
    background-color: #EEF9BF;
}

#jogo {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.carta-virada {
    min-width: 117px;
    width: 117px;
    min-height: 146px;
    height: 146px;
    margin: 10px;
    
    display: none;
    justify-content: center;
    align-items: center;

    background-color: #a7e9af;
    border: 1px solid #99cea8;
}

img {
    width: 117px;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    color: #75B79E;
    text-align: center;
}

/* Inicio ajuste das cartas */

#carta1, #carta2, #carta3, #carta4, #carta5, #carta6, #carta7 {
    display: flex;
}

